@charset "UTF-8";
/* CSS Document */


background-image: radial-gradient(circle, closest-side, transparent 98%, rgba(0,0,0,.3) 99%),
	radial-gradient(closest-side, transparent 98%, rgba(0,0,0,.3) 99%);
background-size:40px 40px;
background-position:0 0, 20px 20px;