@charset "UTF-8";
/* CSS Document */


.nonrepeating {
	background-image:
				
				-webkit-gradient(linear, 0 0, 60% 0, 
					color-stop(0.27, rgba(255, 255, 255, 0)), 
					color-stop(0.27, rgba(255, 255, 255, 0.4)), 
					color-stop(0.29, rgba(255, 255, 255, 0.4)), 
					color-stop(0.29, rgba(255, 255, 255, 0)), 
					color-stop(0.31, rgba(255, 255, 255, 0)), 
					color-stop(0.31, rgba(255, 255, 255, 0.2)), 
					color-stop(0.54, rgba(255, 255, 255, 0.2)), 
					color-stop(0.54, rgba(255, 255, 255, 0))),
				-webkit-gradient(linear, 0 0, 104% 0, 
					color-stop(0.11, rgba(255, 255, 255, 0)), 
					color-stop(0.11, rgba(255, 255, 255, 0.2)), 
					color-stop(0.17, rgba(255, 255, 255, 0.2)), 
					color-stop(0.17, rgba(255, 255, 255, 0)), 
					color-stop(0.57, rgba(255, 255, 255, 0)), 
					color-stop(0.57, rgba(255, 255, 255, 0.35)), 
					color-stop(0.63, rgba(255, 255, 255, 0.35)), 
					color-stop(0.63, rgba(255, 255, 255, 0))),
				-webkit-gradient(linear, 0 0, 95% 0,  
					color-stop(0.07, rgba(255, 255, 255, 0)),
					color-stop(0.07, rgba(255, 255, 255, 0.15)), 
					color-stop(0.09, rgba(255, 255, 255, 0.15)), 
					color-stop(0.09, rgba(255, 255, 255, 0)),
					color-stop(0.51, rgba(255, 255, 255, 0)), 
					color-stop(0.51, rgba(255, 255, 255, 0.25)), 
					color-stop(0.60, rgba(255, 255, 255, 0.25)), 
					color-stop(0.60, rgba(255, 255, 255, 0)), 
					color-stop(0.68, rgba(255, 255, 255, 0)), 
					color-stop(0.68, rgba(255, 255, 255, 0.35)), 
					color-stop(0.81, rgba(255, 255, 255, 0.35)), 
					color-stop(0.81, rgba(255, 255, 255, 0))),
				-webkit-gradient(linear, 0 0, 99% 0, 
					color-stop(0.02, rgba(255, 255, 255, 0)), 
					color-stop(0.02, rgba(255, 255, 255, 0.2)), 
					color-stop(0.27, rgba(255, 255, 255, 0.2)), 
					color-stop(0.27, rgba(255, 255, 255, 0)), 
					color-stop(0.61, rgba(255, 255, 255, 0)), 
					color-stop(0.61, rgba(255, 255, 255, 0.5)), 
					color-stop(0.95, rgba(255, 255, 255, 0.5)), 
					color-stop(95, rgba(255, 255, 255, 0))),
				-webkit-gradient(linear, 0 0, 0 100%, 
					color-stop(0, rgba(78, 55, 128, 1)), 
					color-stop(1, rgba(0, 0, 255, 0.5)));
		background-image:
				
				-webkit-linear-gradient(0deg, 
					transparent 27%, 
					rgba(255, 255, 255, 0.3) 27%, 
					rgba(255, 255, 255, 0.3) 29%, 
					transparent 29%, 
					transparent 31%, 
					rgba(255, 255, 255, 0.2) 31%, 
					rgba(255, 255, 255, 0.2) 54%, 
					transparent 54%),
				-webkit-linear-gradient(0deg, 
					transparent 11%, 
					rgba(255, 255, 255, 0.2) 11%, 
					rgba(255, 255, 255, 0.2) 17%, 
					transparent 17%, 
					transparent 57%, 
					rgba(255, 255, 255, 0.35) 57%, 
					rgba(255, 255, 255, 0.35) 63%, 
					transparent 63%),
				-webkit-linear-gradient(0deg,  
					transparent 4%,
					rgba(255, 255, 255, 0.15) 4%, 
					rgba(255, 255, 255, 0.15) 9%, 
					transparent 9%,
					transparent 51%, 
					rgba(255, 255, 255, 0.25) 51%, 
					rgba(255, 255, 255, 0.25) 52%, 
					transparent 52%, 
					transparent 68%, 
					rgba(255, 255, 255, 0.35) 68%, 
					rgba(255, 255, 255, 0.35) 75%, 
					transparent 75%),
				-webkit-linear-gradient(0deg, 
					transparent 1%, 
					rgba(255, 255, 255, 0.2) 2%, 
					rgba(255, 255, 255, 0.2) 27%, 
					transparent 27%, 
					transparent 64%, 
					rgba(255, 255, 255, 0.5) 64%, 
					rgba(255, 255, 255, 0.5) 95%, 
					transparent 95%),
				-webkit-linear-gradient(90deg, 
					rgba(78, 55, 128, 1) 0%, 
					rgba(0, 0, 255, 0.5) 100%));
			background-image:
				
				-moz-linear-gradient(0,
					transparent 27%, 
					rgba(255, 255, 255, 0.3) 27%, 
					rgba(255, 255, 255, 0.3) 29%, 
					transparent 29%, 
					transparent 31%, 
					rgba(255, 255, 255, 0.2) 31%, 
					rgba(255, 255, 255, 0.2) 54%, 
					transparent 54%),
				-moz-linear-gradient(0,
					transparent 11%, 
					rgba(255, 255, 255, 0.2) 11%, 
					rgba(255, 255, 255, 0.2) 17%, 
					transparent 17%, 
					transparent 57%, 
					rgba(255, 255, 255, 0.35) 57%, 
					rgba(255, 255, 255, 0.35) 63%, 
					transparent 63%),
				-moz-linear-gradient(0,  
					transparent 4%,
					rgba(255, 255, 255, 0.15) 4%, 
					rgba(255, 255, 255, 0.15) 9%, 
					transparent 9%,
					transparent 51%, 
					rgba(255, 255, 255, 0.25) 51%, 
					rgba(255, 255, 255, 0.25) 52%, 
					transparent 52%, 
					transparent 68%, 
					rgba(255, 255, 255, 0.35) 68%, 
					rgba(255, 255, 255, 0.35) 75%, 
					transparent 75%),
				-moz-linear-gradient(0, 
					transparent 1%, 
					rgba(255, 255, 255, 0.2) 2%, 
					rgba(255, 255, 255, 0.2) 27%, 
					transparent 27%, 
					transparent 64%, 
					rgba(255, 255, 255, 0.5) 64%, 
					rgba(255, 255, 255, 0.5) 95%, 
					transparent 95%),
				-moz-linear-gradient(270deg,
					rgba(78, 55, 128, 1) 0%, 
					rgba(96, 78, 227,  0.5) 100%);
			background-image:
				-ms-linear-gradient(0deg,
					transparent 27%, 
					rgba(255, 255, 255, 0.3) 27%, 
					rgba(255, 255, 255, 0.3) 29%, 
					transparent 29%, 
					transparent 31%, 
					rgba(255, 255, 255, 0.2) 31%, 
					rgba(255, 255, 255, 0.2) 54%, 
					transparent 54%),
				-ms-linear-gradient(0deg,
					transparent 11%, 
					rgba(255, 255, 255, 0.2) 11%, 
					rgba(255, 255, 255, 0.2) 17%, 
					transparent 17%, 
					transparent 57%, 
					rgba(255, 255, 255, 0.35) 57%, 
					rgba(255, 255, 255, 0.35) 63%, 
					transparent 63%),
				-ms-linear-gradient(0deg,  
					transparent 4%,
					rgba(255, 255, 255, 0.15) 4%, 
					rgba(255, 255, 255, 0.15) 9%, 
					transparent 9%,
					transparent 51%, 
					rgba(255, 255, 255, 0.25) 51%, 
					rgba(255, 255, 255, 0.25) 52%, 
					transparent 52%, 
					transparent 68%, 
					rgba(255, 255, 255, 0.35) 68%, 
					rgba(255, 255, 255, 0.35) 75%, 
					transparent 75%),
				-ms-linear-gradient(0deg, 
					transparent 1%, 
					rgba(255, 255, 255, 0.2) 2%, 
					rgba(255, 255, 255, 0.2) 27%, 
					transparent 27%, 
					transparent 64%, 
					rgba(255, 255, 255, 0.5) 64%, 
					rgba(255, 255, 255, 0.5) 95%, 
					transparent 95%),
				-ms-linear-gradient(70deg,
					rgba(78, 55, 128, 1) 0%, 
					rgba(0, 0, 255, 0.5) 100%);	
		background-image:
				-o-linear-gradient(0,
					transparent 27%, 
					rgba(255, 255, 255, 0.3) 27%, 
					rgba(255, 255, 255, 0.3) 29%, 
					transparent 29%, 
					transparent 31%, 
					rgba(255, 255, 255, 0.2) 31%, 
					rgba(255, 255, 255, 0.2) 54%, 
					transparent 54%),
				-o-linear-gradient(0,
					transparent 11%, 
					rgba(255, 255, 255, 0.2) 11%, 
					rgba(255, 255, 255, 0.2) 17%, 
					transparent 17%, 
					transparent 57%, 
					rgba(255, 255, 255, 0.35) 57%, 
					rgba(255, 255, 255, 0.35) 63%, 
					transparent 63%),
				-o-linear-gradient(0,  
					transparent 4%,
					rgba(255, 255, 255, 0.15) 4%, 
					rgba(255, 255, 255, 0.15) 9%, 
					transparent 9%,
					transparent 51%, 
					rgba(255, 255, 255, 0.25) 51%, 
					rgba(255, 255, 255, 0.25) 52%, 
					transparent 52%, 
					transparent 68%, 
					rgba(255, 255, 255, 0.35) 68%, 
					rgba(255, 255, 255, 0.35) 75%, 
					transparent 75%),
				-o-linear-gradient(0, 
					transparent 1%, 
					rgba(255, 255, 255, 0.2) 2%, 
					rgba(255, 255, 255, 0.2) 27%, 
					transparent 27%, 
					transparent 64%, 
					rgba(255, 255, 255, 0.5) 64%, 
					rgba(255, 255, 255, 0.5) 95%, 
					transparent 95%),
				-o-linear-gradient(70deg,
					rgba(78, 55, 128, 1) 0%, 
					rgba(0, 0, 255, 0.5) 100%);	
		background-image:
				linear-gradient(0,
					transparent 27%, 
					rgba(255, 255, 255, 0.3) 27%, 
					rgba(255, 255, 255, 0.3) 29%, 
					transparent 29%, 
					transparent 31%, 
					rgba(255, 255, 255, 0.2) 31%, 
					rgba(255, 255, 255, 0.2) 54%, 
					transparent 54%),
				linear-gradient(0,
					transparent 11%, 
					rgba(255, 255, 255, 0.2) 11%, 
					rgba(255, 255, 255, 0.2) 17%, 
					transparent 17%, 
					transparent 57%, 
					rgba(255, 255, 255, 0.35) 57%, 
					rgba(255, 255, 255, 0.35) 63%, 
					transparent 63%),
				linear-gradient(0,  
					transparent 4%,
					rgba(255, 255, 255, 0.15) 4%, 
					rgba(255, 255, 255, 0.15) 9%, 
					transparent 9%,
					transparent 51%, 
					rgba(255, 255, 255, 0.25) 51%, 
					rgba(255, 255, 255, 0.25) 52%, 
					transparent 52%, 
					transparent 68%, 
					rgba(255, 255, 255, 0.35) 68%, 
					rgba(255, 255, 255, 0.35) 75%, 
					transparent 75%),
				linear-gradient(0, 
					transparent 1%, 
					rgba(255, 255, 255, 0.2) 2%, 
					rgba(255, 255, 255, 0.2) 27%, 
					transparent 27%, 
					transparent 64%, 
					rgba(255, 255, 255, 0.5) 64%, 
					rgba(255, 255, 255, 0.5) 95%, 
					transparent 95%),
				linear-gradient(70deg,
					rgba(78, 55, 128, 1) 0%, 
					rgba(96, 78, 227, 0.5) 100%);	
		
	/*saf 4*/-webkit-background-size: 100px 100%, 127px 100%, 159px 100%, 181px 100%, 100% 100%;
	/*ff 3.6*/-moz-background-size: 100px 100%, 127px 100%, 159px 100%, 181px 100%, 100% 100%;
		background-size: 100px 100%, 127px 100%, 159px 100%, 181px 100%, 100% 100%;
			
}	
.no-repeat2 {
	
	/*saf 4*/-webkit-background-size: 50px 100%, 61px 100%, 82px 100%, 93px 100%, 100% 0;
	/*ff 3.6*/-moz-background-size: 50px 100%, 61px 100%, 82px 100%, 93px 100%, 100% 0;
	background-size: 50px 100%, 61px 100%, 82px 100%, 93px 100%, 100% 0;
	}
.no-repeat3 {
	
	/*saf 4*/-webkit-background-size: 250px 100%, 261px 100%, 282px 100%, 293px 100%, 100% 100%;
	/*ff 3.6*/-moz-background-size: 250px 100%, 261px 100%, 282px 100%, 293px 100%, 100% 100%;
	background-size: 250px 100%, 261px 100%, 282px 100%, 293px 100%, 100% 100%;
	}
