@charset "UTF-8";
/* CSS Document */




.seamless{
	background-image:
		-webkit-gradient(radial, 15 15, 0, 15 15, 14.6,
			color-stop(0, rgba(255, 255, 255, 0)),
			color-stop(0.96, rgba(255, 255, 255, 0)),
			color-stop(0.96, rgba(255, 255, 255, 1)),
			color-stop(1.00, rgba(255, 255, 255, 1))
		),
		
		-webkit-gradient(radial, 15 15, 0, 15 15, 14.6,
			color-stop(0, rgba(255, 255, 255, 0)),
			color-stop(0.96, rgba(255, 255, 255, 0)),
			color-stop(0.96, rgba(255, 255, 255, 1)),
			color-stop(1.00, rgba(255, 255, 255, 1))
		); 
	background-image: 
		-webkit-radial-gradient(circle closest-side, 
			rgba(255,255,255,0) 96%, 
			rgba(255,255,255,1) 100%),
		-webkit-radial-gradient(circle closest-side, 
			rgba(255,255,255,0)  96%, 
			rgba(255,255,255,1) 100%);
	background-image: 
		-moz-radial-gradient(circle closest-side, 
			rgba(255,255,255,0) 96%, 
			rgba(255,255,255,1) 100%),
		-moz-radial-gradient(circle closest-side, 
			rgba(255,255,255,0)  96%, 
			rgba(255,255,255,1) 100%);
	background-image: 
		-ms-radial-gradient(circle closest-side, 
			rgba(255,255,255,0) 96%, 
			rgba(255,255,255,1) 100%),
		-ms-radial-gradient(circle closest-side, 
			rgba(255,255,255,0)  96%, 
			rgba(255,255,255,1) 100%);
	background-image: 
		-o-radial-gradient(circle closest-side, 
			rgba(255,255,255,0) 96%, 
			rgba(255,255,255,1) 100%),
		-o-radial-gradient(circle closest-side, 
			rgba(255,255,255,0)  96%, 
			rgba(255,255,255,1) 100%);
	background-image: 
		radial-gradient(circle closest-side, 
			rgba(255,255,255,0) 96%, 
			rgba(255,255,255,1) 100%),
		radial-gradient(circle closest-side, 
			rgba(255,255,255,0)  96%, 
			rgba(255,255,255,1) 100%);
	
	background-color: #000000;
} 
section.sseamless div {
	-webkit-background-size:30px 30px; /* safari 4 */
	-moz-background-size:30px 30px; /* FF3.6 */
	background-size:30px 30px;
	background-position:0 0, 15px 15px;
}
.seamless2 {
	background-image:
		-webkit-gradient(radial, 15 15, 0, 15 15, 14.6,
			color-stop(0, rgba(255, 255, 255, 0)),
			color-stop(0.96, rgba(255, 255, 255, 0)),
			color-stop(0.96, rgba(255, 255, 255, 0.3)),
			color-stop(1.00, rgba(255, 255, 255, 0.3))
		),
		
		-webkit-gradient(radial, 15 15, 0, 15 15, 14.6,
			color-stop(0, rgba(255, 255, 255, 0)),
			color-stop(0.96, rgba(255, 255, 255, 0)),
			color-stop(0.96, rgba(255, 255, 255, 0.3)),
			color-stop(1.00, rgba(255, 255, 255, 0.3))
		);
	background-image: 
		-webkit-radial-gradient(circle closest-side, 
			rgba(0,0,0,0) 96%, 
			rgba(0,0,0,0.3) 100%),
		-webkit-radial-gradient(circle closest-side, 
			rgba(0,0,0,0)  96%, 
			rgba(0,0,0,0.3) 100%);
	background-image: 
		-moz-radial-gradient(circle closest-side, 
			rgba(0,0,0,0) 96%, 
			rgba(0,0,0,0.3) 100%),
		-moz-radial-gradient(circle closest-side, 
			rgba(0,0,0,0)  96%, 
			rgba(0,0,0,0.3) 100%);	
	background-image: 
		-ms-radial-gradient(circle closest-side, 
			rgba(0,0,0,0) 96%, 
			rgba(0,0,0,0.3) 100%),
		-ms-radial-gradient(circle closest-side, 
			rgba(0,0,0,0)  96%, 
			rgba(0,0,0,0.3) 100%);
	background-image: 
		-o-radial-gradient(circle closest-side, 
			rgba(0,0,0,0) 96%, 
			rgba(0,0,0,0.3) 100%),
		-o-radial-gradient(circle closest-side, 
			rgba(0,0,0,0)  96%, 
			rgba(0,0,0,0.3) 100%);
	background-image: 
		radial-gradient(circle closest-side, 
			rgba(0,0,0,0) 96%, 
			rgba(0,0,0,0.3) 100%),
		radial-gradient(circle closest-side, 
			rgba(0,0,0,0)  96%, 
			rgba(0,0,0,0.3) 100%);
}

.seamless3{
	background-image:
		-webkit-gradient(radial, 15 15, 0, 15 15, 14.6,
			color-stop(0, rgba(0, 0, 0, 0)),
			color-stop(0.96, rgba(0, 0, 0, 0)),
			color-stop(0.96, rgba(0, 0, 0, 1)),
			color-stop(1.00, rgba(0, 0, 0, 1))
		),
		
		-webkit-gradient(radial, 15 15, 0, 15 15, 14.6,
			color-stop(0, rgba(0, 0, 0, 0)),
			color-stop(0.96, rgba(0, 0, 0, 0)),
			color-stop(0.96, rgba(0, 0, 0, 1)),
			color-stop(1.00, rgba(0, 0, 0, 1))
		);
	background-image: 
		-webkit-radial-gradient(circle closest-side, 
			rgba(0,0,0,0) 96%, 
			rgba(0,0,0,1) 97%),
		-webkit-radial-gradient(circle closest-side, 
			rgba(0,0,0,0)  96%, 
			rgba(0,0,0,1) 97%);
	background-image: 
		-moz-radial-gradient(circle closest-side, 
			rgba(0,0,0,0) 96%, 
			rgba(0,0,0,1) 97%),
		-moz-radial-gradient(circle closest-side, 
			rgba(0,0,0,0)  96%, 
			rgba(0,0,0,1) 97%);
	background-image: 
		-ms-radial-gradient(circle closest-side, 
			rgba(0,0,0,0) 96%, 
			rgba(0,0,0,1) 97%),
		-ms-radial-gradient(circle closest-side, 
			rgba(0,0,0,0)  96%, 
			rgba(0,0,0,1) 97%);
	background-image: 
		-o-radial-gradient(circle closest-side, 
			rgba(0,0,0,0) 96%, 
			rgba(0,0,0,1) 97%),
		-o-radial-gradient(circle closest-side, 
			rgba(0,0,0,0)  96%, 
			rgba(0,0,0,1) 97%);
	background-image: 
		radial-gradient(circle closest-side, 
			rgba(0,0,0,0) 96%, 
			rgba(0,0,0,1) 97%),
		radial-gradient(circle closest-side, 
			rgba(0,0,0,0)  96%, 
			rgba(0,0,0,1) 97%);
			
	background-color: #ffffff;
}