@charset "UTF-8";/* 

Author: Estelle Weyl 
		http://www.standardista.com 
		http://www.twitter.com/estellevw
		
Check out http://standardista.com/sandbox/lightbursts.html in webkit to see the flashes animated.


*/
.flash{
	background-color:#000000;
	background-image:
    -webkit-gradient(radial, 25 25, 0, 25 25, 20, 
		from(rgba(255,255,255,0.95)), 
		to(rgba(189,58,54,0)), 
		color-stop(.1,rgba(255,255,255,0.63)),
		color-stop(.4,rgba(189,58,54,0.21)),
		color-stop(.45,rgba(189,58,54,0)),
		color-stop(.5,rgba(189,58,54,0.43)),
		color-stop(.55,rgba(189,58,54,0))),
	-webkit-gradient(radial, 25 25, 0, 25 25, 30, 
		from(rgba(255,255,255,0.99)), 
		to(rgba(255,255,255,0.0)), 
		color-stop(.7,rgba(255,255,255,0.1))),
	-webkit-gradient(radial, 10 10, 0, 10 10, 4, 
		from(rgba(255,255,255,0.4)), 
		to(rgba(255,255,255,0)), 
		color-stop(.7,rgba(255,255,255,0))),
	-webkit-gradient(radial, 10 10, 0, 10 10, 4, from(rgba(255,255,255,0.4)), to(rgba(255,255,255,0)), color-stop(.7,rgba(255,255,255,0))),
	-webkit-gradient(radial, 10 10, 0, 10 10, 4, from(rgba(255,255,255,0.4)), to(rgba(255,255,255,0)), color-stop(.7,rgba(255,255,255,0))),
	-webkit-gradient(radial, 10 10, 0, 10 10, 4, from(rgba(255,255,255,0.4)), to(rgba(255,255,255,0)), color-stop(.7,rgba(255,255,255,0))),
	/* red circle with white center  -RedB */
	-webkit-gradient(radial, 50 50, 0, 50 50, 35, 
		from(rgba(255,255,255,0.95)), 
		to(rgba(189,58,54,0)), 
		color-stop(.1,rgba(255,255,255,0.8)),
		color-stop(.7,rgba(189,58,54,0.21)),
		color-stop(.85,rgba(189,58,54,0)),
		color-stop(.9,rgba(189,58,54,0.53)),
		color-stop(.95,rgba(189,58,54,0))),
	/* large rainbow circle -Flag*/
	-webkit-gradient(radial, 45 45, 0, 45 45, 45, 
		from(rgba(255,255,255,0)), 
		to(rgba(189,58,54,0)),
		color-stop(0.23, rgba(0,218,0,0.10)),
		color-stop(0.54, rgba(0,218,0,0.18)),
		color-stop(.54,rgba(189,58,54,0.25)),
		color-stop(.57,rgba(189,58,54,0.25)),
		color-stop(0.6, rgba(0, 218,0,0)),
		color-stop(0.83, rgba(0, 0,218,0)),
		color-stop(0.86, rgba(0, 0,218,0.25)),
		color-stop(0.89, rgba(0,218,0,0.25)),
		color-stop(0.92, rgba(251,218,63,0.18)),
		color-stop(0.95, rgba(189,58,54,0.25))),
	/* green circle with blue center -blue*/
	-webkit-gradient(radial, 41 41, 4, 30 30, 30,
		from(rgba(0,0,218,0.25)), 
		to(rgba(0,0,0,0)),  
		color-stop(.6,rgba(0,218,0,0.10)),
		color-stop(.7,rgba(0,218,0,0)),
		color-stop(.71,rgba(0,0,0,0.35)),
		color-stop(.9,rgba(0,0,0,0))),
	/* single red on top of dim -sr*/
	-webkit-gradient(radial, 50 50, 10, 50 50, 11, 
		from(rgba(189,58,54,0.15)), 
		to(rgba(0,0,0,0)), 
		color-stop(.9,rgba(189,58,54,0.15)),
		color-stop(.91,rgba(189,58,54,0.0))),
	/* barely visible red inner and outer cirle -dim*/
	-webkit-gradient(radial, 50 50, 0, 50 50, 22, 
		from(rgba(189,58,54,0.25)), 
		to(rgba(0,0,0,0)), 
		color-stop(.25,rgba(189,58,54,0.25)),
		color-stop(.26,rgba(189,58,54,0.1)),
		color-stop(.9,rgba(189,58,54,0.2)),
		color-stop(.91,rgba(189,58,54,0.0)));
	background-image:
    -moz-radial-gradient(circle, 
		rgba(255,255,255,0.95) 0%,
		rgba(255,255,255,0.63) 10%,
		rgba(189,58,54,0.21) 40%,
		rgba(189,58,54,0) 45%,
		rgba(189,58,54,0.43) 50%,
		rgba(189,58,54,0) 55%,
		rgba(189,58,54,0) 100%
		), 
	-moz-radial-gradient(circle, 
		rgba(255,255,255,0.99) 0%, 
		rgba(255,255,255,0.1) 70%,
		rgba(255,255,255,0.0) 100%
		), 
	-moz-radial-gradient(circle, 
		rgba(255,255,255,0.4) 0%,  
		rgba(255,255,255,0) 70%,
		rgba(255,255,255,0) 100%
		),
	-moz-radial-gradient(circle,
		rgba(255,255,255,0.4) 0, 
		rgba(255,255,255,0) 70%,
		rgba(255,255,255,0) 100% 
		),
	-moz-radial-gradient(circle,
		rgba(255,255,255,0.4) 0%, 
		rgba(255,255,255,0) 70%,
		rgba(255,255,255,0) 100%
		),
	-moz-radial-gradient(circle,
		rgba(255,255,255,0.4) 0%, 
		rgba(255,255,255,0) 70%,
		rgba(255,255,255,0) 100%
		), 
	
	-moz-radial-gradient(circle,
		rgba(255,255,255,0.95) 0%, 
		rgba(255,255,255,0.8) 10%,
		rgba(189,58,54,0.21) 70%,
		rgba(189,58,54,0) 85%,
		rgba(189,58,54,0.53) 90%,
		rgba(189,58,54,0) 95%, 
		rgba(189,58,54,0) 100%
		),
	-moz-radial-gradient(circle, 
		rgba(255,255,255,0) 0%, 
		rgba(0,218,0,0.10) 23%,
		rgba(0,218,0,0.18) 54%,
		rgba(189,58,54,0.25) 54%,
		rgba(189,58,54,0.25) 57%,
		rgba(0, 218,0,0) 60%,
		rgba(0, 0,218,0) 83%,
		rgba(0, 0,218,0.25) 86%,
		rgba(0,218,0,0.25) 89%,
		rgba(251,218,63,0.18) 92%,
		rgba(189,58,54,0.25) 95%,
		rgba(189,58,54,0) 100%
		),
	-moz-radial-gradient(circle,
		rgba(0,0,218,0.25) 0%,
		rgba(0,218,0,0.10) 60%,
		rgba(0,218,0,0) 70%,
		rgba(0,0,0,0.35) 71%,
		rgba(0,0,0,0) 90%, 
		rgba(0,0,0,0) 100%
		),  
	-moz-radial-gradient(circle,
		rgba(189,58,54,0.15) 0%,
		rgba(189,58,54,0.15) 90%,
		rgba(189,58,54,0.0) 91%, 
		rgba(0,0,0,0) 100%
		),
	-moz-radial-gradient(circle,
		rgba(189,58,54,0.25) 0%, 
		rgba(189,58,54,0.25) 25%,
		rgba(189,58,54,0.1) 26%,
		rgba(189,58,54,0.2) 90%,
		rgba(189,58,54,0.0) 91%,
		rgba(0,0,0,0) 100%)/**/;
		
		
		background-image:
    -ms-radial-gradient(circle, 
		rgba(255,255,255,0.95) 0%,
		rgba(255,255,255,0.63) 10%,
		rgba(189,58,54,0.21) 40%,
		rgba(189,58,54,0) 45%,
		rgba(189,58,54,0.43) 50%,
		rgba(189,58,54,0) 55%,
		rgba(189,58,54,0) 100%
		), 
	-ms-radial-gradient(circle, 
		rgba(255,255,255,0.99) 0%, 
		rgba(255,255,255,0.1) 70%,
		rgba(255,255,255,0.0) 100%
		), 
	-ms-radial-gradient(circle, 
		rgba(255,255,255,0.4) 0%,  
		rgba(255,255,255,0) 70%,
		rgba(255,255,255,0) 100%
		),
	-ms-radial-gradient(circle,
		rgba(255,255,255,0.4) 0, 
		rgba(255,255,255,0) 70%,
		rgba(255,255,255,0) 100% 
		),
	-ms-radial-gradient(circle,
		rgba(255,255,255,0.4) 0%, 
		rgba(255,255,255,0) 70%,
		rgba(255,255,255,0) 100%
		),
	-ms-radial-gradient(circle,
		rgba(255,255,255,0.4) 0%, 
		rgba(255,255,255,0) 70%,
		rgba(255,255,255,0) 100%
		), 
	
	-ms-radial-gradient(circle,
		rgba(255,255,255,0.95) 0%, 
		rgba(255,255,255,0.8) 10%,
		rgba(189,58,54,0.21) 70%,
		rgba(189,58,54,0) 85%,
		rgba(189,58,54,0.53) 90%,
		rgba(189,58,54,0) 95%, 
		rgba(189,58,54,0) 100%
		),
	-ms-radial-gradient(circle, 
		rgba(255,255,255,0) 0%, 
		rgba(0,218,0,0.10) 23%,
		rgba(0,218,0,0.18) 54%,
		rgba(189,58,54,0.25) 54%,
		rgba(189,58,54,0.25) 57%,
		rgba(0, 218,0,0) 60%,
		rgba(0, 0,218,0) 83%,
		rgba(0, 0,218,0.25) 86%,
		rgba(0,218,0,0.25) 89%,
		rgba(251,218,63,0.18) 92%,
		rgba(189,58,54,0.25) 95%,
		rgba(189,58,54,0) 100%
		),
	-ms-radial-gradient(circle,
		rgba(0,0,218,0.25) 0%,
		rgba(0,218,0,0.10) 60%,
		rgba(0,218,0,0) 70%,
		rgba(0,0,0,0.35) 71%,
		rgba(0,0,0,0) 90%, 
		rgba(0,0,0,0) 100%
		),  
	-ms-radial-gradient(circle,
		rgba(189,58,54,0.15) 0%,
		rgba(189,58,54,0.15) 90%,
		rgba(189,58,54,0.0) 91%, 
		rgba(0,0,0,0) 100%
		),
	-ms-radial-gradient(circle,
		rgba(189,58,54,0.25) 0%, 
		rgba(189,58,54,0.25) 25%,
		rgba(189,58,54,0.1) 26%,
		rgba(189,58,54,0.2) 90%,
		rgba(189,58,54,0.0) 91%,
		rgba(0,0,0,0) 100%)/**/;
		
	background-image:
    -o-radial-gradient(circle, 
		rgba(255,255,255,0.95) 0%,
		rgba(255,255,255,0.63) 10%,
		rgba(189,58,54,0.21) 40%,
		rgba(189,58,54,0) 45%,
		rgba(189,58,54,0.43) 50%,
		rgba(189,58,54,0) 55%,
		rgba(189,58,54,0) 100%
		), 
	-o-radial-gradient(circle, 
		rgba(255,255,255,0.99) 0%, 
		rgba(255,255,255,0.1) 70%,
		rgba(255,255,255,0.0) 100%
		), 
	-o-radial-gradient(circle, 
		rgba(255,255,255,0.4) 0%,  
		rgba(255,255,255,0) 70%,
		rgba(255,255,255,0) 100%
		),
	-o-radial-gradient(circle,
		rgba(255,255,255,0.4) 0, 
		rgba(255,255,255,0) 70%,
		rgba(255,255,255,0) 100% 
		),
	-o-radial-gradient(circle,
		rgba(255,255,255,0.4) 0%, 
		rgba(255,255,255,0) 70%,
		rgba(255,255,255,0) 100%
		),
	-o-radial-gradient(circle,
		rgba(255,255,255,0.4) 0%, 
		rgba(255,255,255,0) 70%,
		rgba(255,255,255,0) 100%
		), 
	
	-o-radial-gradient(circle,
		rgba(255,255,255,0.95) 0%, 
		rgba(255,255,255,0.8) 10%,
		rgba(189,58,54,0.21) 70%,
		rgba(189,58,54,0) 85%,
		rgba(189,58,54,0.53) 90%,
		rgba(189,58,54,0) 95%, 
		rgba(189,58,54,0) 100%
		),
	-o-radial-gradient(circle, 
		rgba(255,255,255,0) 0%, 
		rgba(0,218,0,0.10) 23%,
		rgba(0,218,0,0.18) 54%,
		rgba(189,58,54,0.25) 54%,
		rgba(189,58,54,0.25) 57%,
		rgba(0, 218,0,0) 60%,
		rgba(0, 0,218,0) 83%,
		rgba(0, 0,218,0.25) 86%,
		rgba(0,218,0,0.25) 89%,
		rgba(251,218,63,0.18) 92%,
		rgba(189,58,54,0.25) 95%,
		rgba(189,58,54,0) 100%
		),
	-o-radial-gradient(circle,
		rgba(0,0,218,0.25) 0%,
		rgba(0,218,0,0.10) 60%,
		rgba(0,218,0,0) 70%,
		rgba(0,0,0,0.35) 71%,
		rgba(0,0,0,0) 90%, 
		rgba(0,0,0,0) 100%
		),  
	-o-radial-gradient(circle,
		rgba(189,58,54,0.15) 0%,
		rgba(189,58,54,0.15) 90%,
		rgba(189,58,54,0.0) 91%, 
		rgba(0,0,0,0) 100%
		),
	-o-radial-gradient(circle,
		rgba(189,58,54,0.25) 0%, 
		rgba(189,58,54,0.25) 25%,
		rgba(189,58,54,0.1) 26%,
		rgba(189,58,54,0.2) 90%,
		rgba(189,58,54,0.0) 91%,
		rgba(0,0,0,0) 100%)/**/;	
		
		
	/*ff 3.6*/-moz-background-size: 100px 100px;
	background-size: 100px 100px;
	background-position:
		75px 75px,
		85px 85px,
		94px 95px,
		117px 137px,
		58px 60px, /* RedB*/
		40px 40px, /* Flag*/
		125px 150px, /* blue*/
		87px 197px, /*sr */
		90px 100px;/* dim*/
}
.flash2{
	background-color:#000000;
	background-image:
  /*  -webkit-gradient(radial, 125 125, 0, 125 125, 100, 
		from(rgba(255,255,255,0.95)), 
		to(rgba(189,58,54,0)), 
		color-stop(.1,rgba(255,255,255,0.63)),
		color-stop(.4,rgba(189,58,54,0.21)),
		color-stop(.45,rgba(189,58,54,0)),
		color-stop(.5,rgba(189,58,54,0.43)),
		color-stop(.55,rgba(189,58,54,0))),
	-webkit-gradient(radial, 125 125, 0, 125 125, 150, 
		from(rgba(255,255,255,0.99)), 
		to(rgba(255,255,255,0.0)), 
		color-stop(.7,rgba(255,255,255,0.1))),*/
	-webkit-gradient(radial, 10 10, 0, 10 10, 4, 
		from(rgba(255,255,255,0.4)), 
		to(rgba(255,255,255,0)), 
		color-stop(.7,rgba(255,255,255,0))),
	-webkit-gradient(radial, 10 10, 0, 10 10, 4, from(rgba(255,255,255,0.4)), to(rgba(255,255,255,0)), color-stop(.7,rgba(255,255,255,0))),
	-webkit-gradient(radial, 10 10, 0, 10 10, 4, from(rgba(255,255,255,0.4)), to(rgba(255,255,255,0)), color-stop(.7,rgba(255,255,255,0))),
	-webkit-gradient(radial, 10 10, 0, 10 10, 4, from(rgba(255,255,255,0.4)), to(rgba(255,255,255,0)), color-stop(.7,rgba(255,255,255,0))),
	/* red circle with white center  -RedB */
	-webkit-gradient(radial, 50 50, 0, 50 50, 35, 
		from(rgba(255,255,255,0.95)), 
		to(rgba(189,58,54,0)), 
		color-stop(.1,rgba(255,255,255,0.8)),
		color-stop(.7,rgba(189,58,54,0.21)),
		color-stop(.85,rgba(189,58,54,0)),
		color-stop(.9,rgba(189,58,54,0.53)),
		color-stop(.95,rgba(189,58,54,0))),
	/* large rainbow circle -Flag*/
	-webkit-gradient(radial, 45 45, 0, 45 45, 45, 
		from(rgba(255,255,255,0)), 
		to(rgba(189,58,54,0)),
		color-stop(0.23, rgba(0,218,0,0.10)),
		color-stop(0.54, rgba(0,218,0,0.18)),
		color-stop(.54,rgba(189,58,54,0.25)),
		color-stop(.57,rgba(189,58,54,0.25)),
		color-stop(0.6, rgba(0, 218,0,0)),
		color-stop(0.83, rgba(0, 0,218,0)),
		color-stop(0.86, rgba(0, 0,218,0.25)),
		color-stop(0.89, rgba(0,218,0,0.25)),
		color-stop(0.92, rgba(251,218,63,0.18)),
		color-stop(0.95, rgba(189,58,54,0.25))),
	/* green circle with blue center -blue*/
	-webkit-gradient(radial, 41 41, 4, 30 30, 30,
		from(rgba(0,0,218,0.25)), 
		to(rgba(0,0,0,0)),  
		color-stop(.6,rgba(0,218,0,0.10)),
		color-stop(.7,rgba(0,218,0,0)),
		color-stop(.71,rgba(0,0,0,0.35)),
		color-stop(.9,rgba(0,0,0,0))),
	/* single red on top of dim -sr*/
	-webkit-gradient(radial, 50 50, 10, 50 50, 11, 
		from(rgba(189,58,54,0.15)), 
		to(rgba(0,0,0,0)), 
		color-stop(.9,rgba(189,58,54,0.15)),
		color-stop(.91,rgba(189,58,54,0.0))),
	/* barely visible red inner and outer cirle -dim*/
	-webkit-gradient(radial, 50 50, 0, 50 50, 22, 
		from(rgba(189,58,54,0.25)), 
		to(rgba(0,0,0,0)), 
		color-stop(.25,rgba(189,58,54,0.25)),
		color-stop(.26,rgba(189,58,54,0.1)),
		color-stop(.9,rgba(189,58,54,0.2)),
		color-stop(.91,rgba(189,58,54,0.0)));
background-image:
	-moz-radial-gradient(circle, 
		rgba(255,255,255,0.4) 0%,  
		rgba(255,255,255,0) 28%,
		rgba(255,255,255,0) 40%
		),
	-moz-radial-gradient(circle,
		rgba(255,255,255,0.4) 0, 
		rgba(255,255,255,0) 28%,
		rgba(255,255,255,0) 40% 
		),
	-moz-radial-gradient(circle,
		rgba(255,255,255,0.4) 0%, 
		rgba(255,255,255,0) 3.5%,
		rgba(255,255,255,0) 5%
		),
	-moz-radial-gradient(circle,
		rgba(255,255,255,0.4) 0%, 
		rgba(255,255,255,0) 3.5%,
		rgba(255,255,255,0) 5%
		), 
	/* red circle with white center  -RedB */
	-moz-radial-gradient(circle,
		rgba(255,255,255,0.95) 0%, 
		rgba(255,255,255,0.8) 4%,
		rgba(189,58,54,0.21) 28%,
		rgba(189,58,54,0) 34%,
		rgba(189,58,54,0.53) 36%,
		rgba(189,58,54,0) 38%, 
		rgba(189,58,54,0) 40%
		),
	/* large rainbow circle -Flag*/
	-moz-radial-gradient(circle, 
		rgba(255,255,255,0) 0%, 
		rgba(0,218,0,0.10) 11.5%,
		rgba(0,218,0,0.18) 27%,
		rgba(189,58,54,0.25) 27%,
		rgba(189,58,54,0.25) 28.5%,
		rgba(0, 218,0,0) 30%,
		rgba(0, 0,218,0) 41.5%,
		rgba(0, 0,218,0.25) 43%,
		rgba(0,218,0,0.25) 44.5%,
		rgba(251,218,63,0.18) 46%,
		rgba(189,58,54,0.25) 47.5%,
		rgba(189,58,54,0) 50%
		), 
	/* green circle with blue center -blue*/
	-moz-radial-gradient(circle,
		rgba(0,0,218,0.25) 0%,
		rgba(0,218,0,0.10) 24.0%,
		rgba(0,218,0,0) 28.0%,
		rgba(0,0,0,0.35) 28.4%,
		rgba(0,0,0,0) 36.0%, 
		rgba(0,0,0,0) 40.0%
		),  
	/* single red on top of dim -sr*/
	-moz-radial-gradient(circle,
		rgba(189,58,54,0.15) 0%,
		rgba(189,58,54,0.15) 36.0%,
		rgba(189,58,54,0.0) 36.4%, 
		rgba(0,0,0,0) 40.0%
		),
	/* barely visible red inner and outer cirle -dim*/
	-moz-radial-gradient(circle,
		rgba(189,58,54,0.25) 0%, 
		rgba(189,58,54,0.25) 10%,
		rgba(189,58,54,0.1) 12%,
		rgba(189,58,54,0.2) 36%,
		rgba(189,58,54,0.0) 36.4%,
		rgba(0,0,0,0) 40.0%)/**/;
		
		
		background-image:
	-webkit-radial-gradient(circle, 
		rgba(255,255,255,0.4) 0%,  
		rgba(255,255,255,0) 28%,
		rgba(255,255,255,0) 40%
		),
	-webkit-radial-gradient(circle,
		rgba(255,255,255,0.4) 0, 
		rgba(255,255,255,0) 28%,
		rgba(255,255,255,0) 40% 
		),
	-webkit-radial-gradient(circle,
		rgba(255,255,255,0.4) 0%, 
		rgba(255,255,255,0) 3.5%,
		rgba(255,255,255,0) 5%
		),
	-webkit-radial-gradient(circle,
		rgba(255,255,255,0.4) 0%, 
		rgba(255,255,255,0) 3.5%,
		rgba(255,255,255,0) 5%
		), 
	/* red circle with white center  -RedB */
	-webkit-radial-gradient(circle,
		rgba(255,255,255,0.95) 0%, 
		rgba(255,255,255,0.8) 4%,
		rgba(189,58,54,0.21) 28%,
		rgba(189,58,54,0) 34%,
		rgba(189,58,54,0.53) 36%,
		rgba(189,58,54,0) 38%, 
		rgba(189,58,54,0) 40%
		),
	/* large rainbow circle -Flag*/
	-webkit-radial-gradient(circle, 
		rgba(255,255,255,0) 0%, 
		rgba(0,218,0,0.10) 11.5%,
		rgba(0,218,0,0.18) 27%,
		rgba(189,58,54,0.25) 27%,
		rgba(189,58,54,0.25) 28.5%,
		rgba(0, 218,0,0) 30%,
		rgba(0, 0,218,0) 41.5%,
		rgba(0, 0,218,0.25) 43%,
		rgba(0,218,0,0.25) 44.5%,
		rgba(251,218,63,0.18) 46%,
		rgba(189,58,54,0.25) 47.5%,
		rgba(189,58,54,0) 50%
		), 
	/* green circle with blue center -blue*/
	-webkit-radial-gradient(circle,
		rgba(0,0,218,0.25) 0%,
		rgba(0,218,0,0.10) 24.0%,
		rgba(0,218,0,0) 28.0%,
		rgba(0,0,0,0.35) 28.4%,
		rgba(0,0,0,0) 36.0%, 
		rgba(0,0,0,0) 40.0%
		),  
	/* single red on top of dim -sr*/
	-webkit-radial-gradient(circle,
		rgba(189,58,54,0.15) 0%,
		rgba(189,58,54,0.15) 36.0%,
		rgba(189,58,54,0.0) 36.4%, 
		rgba(0,0,0,0) 40.0%
		),
	/* barely visible red inner and outer cirle -dim*/
	-webkit-radial-gradient(circle,
		rgba(189,58,54,0.25) 0%, 
		rgba(189,58,54,0.25) 10%,
		rgba(189,58,54,0.1) 12%,
		rgba(189,58,54,0.2) 36%,
		rgba(189,58,54,0.0) 36.4%,
		rgba(0,0,0,0) 40.0%)/**/;
		
	background-image:
	-ms-radial-gradient(circle, 
		rgba(255,255,255,0.4) 0%,  
		rgba(255,255,255,0) 28%,
		rgba(255,255,255,0) 40%
		),
	-ms-radial-gradient(circle,
		rgba(255,255,255,0.4) 0, 
		rgba(255,255,255,0) 28%,
		rgba(255,255,255,0) 40% 
		),
	-ms-radial-gradient(circle,
		rgba(255,255,255,0.4) 0%, 
		rgba(255,255,255,0) 3.5%,
		rgba(255,255,255,0) 5%
		),
	-ms-radial-gradient(circle,
		rgba(255,255,255,0.4) 0%, 
		rgba(255,255,255,0) 3.5%,
		rgba(255,255,255,0) 5%
		), 
	/* red circle with white center  -RedB */
	-ms-radial-gradient(circle,
		rgba(255,255,255,0.95) 0%, 
		rgba(255,255,255,0.8) 4%,
		rgba(189,58,54,0.21) 28%,
		rgba(189,58,54,0) 34%,
		rgba(189,58,54,0.53) 36%,
		rgba(189,58,54,0) 38%, 
		rgba(189,58,54,0) 40%
		),
	/* large rainbow circle -Flag*/
	-ms-radial-gradient(circle, 
		rgba(255,255,255,0) 0%, 
		rgba(0,218,0,0.10) 11.5%,
		rgba(0,218,0,0.18) 27%,
		rgba(189,58,54,0.25) 27%,
		rgba(189,58,54,0.25) 28.5%,
		rgba(0, 218,0,0) 30%,
		rgba(0, 0,218,0) 41.5%,
		rgba(0, 0,218,0.25) 43%,
		rgba(0,218,0,0.25) 44.5%,
		rgba(251,218,63,0.18) 46%,
		rgba(189,58,54,0.25) 47.5%,
		rgba(189,58,54,0) 50%
		), 
	/* green circle with blue center -blue*/
	-ms-radial-gradient(circle,
		rgba(0,0,218,0.25) 0%,
		rgba(0,218,0,0.10) 24.0%,
		rgba(0,218,0,0) 28.0%,
		rgba(0,0,0,0.35) 28.4%,
		rgba(0,0,0,0) 36.0%, 
		rgba(0,0,0,0) 40.0%
		),  
	/* single red on top of dim -sr*/
	-ms-radial-gradient(circle,
		rgba(189,58,54,0.15) 0%,
		rgba(189,58,54,0.15) 36.0%,
		rgba(189,58,54,0.0) 36.4%, 
		rgba(0,0,0,0) 40.0%
		),
	/* barely visible red inner and outer cirle -dim*/
	-ms-radial-gradient(circle,
		rgba(189,58,54,0.25) 0%, 
		rgba(189,58,54,0.25) 10%,
		rgba(189,58,54,0.1) 12%,
		rgba(189,58,54,0.2) 36%,
		rgba(189,58,54,0.0) 36.4%,
		rgba(0,0,0,0) 40.0%)/**/;	
		
		background-image: 	-o-radial-gradient(circle, 
		rgba(255,255,255,0.4) 0%,  
		rgba(255,255,255,0) 28%,
		rgba(255,255,255,0) 40%
		),
	-o-radial-gradient(circle,
		rgba(255,255,255,0.4) 0, 
		rgba(255,255,255,0) 28%,
		rgba(255,255,255,0) 40% 
		),
	-o-radial-gradient(circle,
		rgba(255,255,255,0.4) 0%, 
		rgba(255,255,255,0) 3.5%,
		rgba(255,255,255,0) 5%
		),
	-o-radial-gradient(circle,
		rgba(255,255,255,0.4) 0%, 
		rgba(255,255,255,0) 3.5%,
		rgba(255,255,255,0) 5%
		), 
	/* red circle with white center  -RedB */
	-o-radial-gradient(circle,
		rgba(255,255,255,0.95) 0%, 
		rgba(255,255,255,0.8) 4%,
		rgba(189,58,54,0.21) 28%,
		rgba(189,58,54,0) 34%,
		rgba(189,58,54,0.53) 36%,
		rgba(189,58,54,0) 38%, 
		rgba(189,58,54,0) 40%
		),
	/* large rainbow circle -Flag*/
	-o-radial-gradient(circle, 
		rgba(255,255,255,0) 0%, 
		rgba(0,218,0,0.10) 11.5%,
		rgba(0,218,0,0.18) 27%,
		rgba(189,58,54,0.25) 27%,
		rgba(189,58,54,0.25) 28.5%,
		rgba(0, 218,0,0) 30%,
		rgba(0, 0,218,0) 41.5%,
		rgba(0, 0,218,0.25) 43%,
		rgba(0,218,0,0.25) 44.5%,
		rgba(251,218,63,0.18) 46%,
		rgba(189,58,54,0.25) 47.5%,
		rgba(189,58,54,0) 50%
		), 
	/* green circle with blue center -blue*/
	-o-radial-gradient(circle,
		rgba(0,0,218,0.25) 0%,
		rgba(0,218,0,0.10) 24.0%,
		rgba(0,218,0,0) 28.0%,
		rgba(0,0,0,0.35) 28.4%,
		rgba(0,0,0,0) 36.0%, 
		rgba(0,0,0,0) 40.0%
		),  
	/* single red on top of dim -sr*/
	-o-radial-gradient(circle,
		rgba(189,58,54,0.15) 0%,
		rgba(189,58,54,0.15) 36.0%,
		rgba(189,58,54,0.0) 36.4%, 
		rgba(0,0,0,0) 40.0%
		),
	/* barely visible red inner and outer cirle -dim*/
	-o-radial-gradient(circle,
		rgba(189,58,54,0.25) 0%, 
		rgba(189,58,54,0.25) 10%,
		rgba(189,58,54,0.1) 12%,
		rgba(189,58,54,0.2) 36%,
		rgba(189,58,54,0.0) 36.4%,
		rgba(0,0,0,0) 40.0%)/**/;
    background-image:
	radial-gradient(circle, 
		rgba(255,255,255,0.4) 0%,  
		rgba(255,255,255,0) 28%,
		rgba(255,255,255,0) 40%
		),
	radial-gradient(circle,
		rgba(255,255,255,0.4) 0, 
		rgba(255,255,255,0) 28%,
		rgba(255,255,255,0) 40% 
		),
	radial-gradient(circle,
		rgba(255,255,255,0.4) 0%, 
		rgba(255,255,255,0) 3.5%,
		rgba(255,255,255,0) 5%
		),
	radial-gradient(circle,
		rgba(255,255,255,0.4) 0%, 
		rgba(255,255,255,0) 3.5%,
		rgba(255,255,255,0) 5%
		), 
	/* red circle with white center  -RedB */
	radial-gradient(circle,
		rgba(255,255,255,0.95) 0%, 
		rgba(255,255,255,0.8) 4%,
		rgba(189,58,54,0.21) 28%,
		rgba(189,58,54,0) 34%,
		rgba(189,58,54,0.53) 36%,
		rgba(189,58,54,0) 38%, 
		rgba(189,58,54,0) 40%
		),
	/* large rainbow circle -Flag*/
	radial-gradient(circle, 
		rgba(255,255,255,0) 0%, 
		rgba(0,218,0,0.10) 11.5%,
		rgba(0,218,0,0.18) 27%,
		rgba(189,58,54,0.25) 27%,
		rgba(189,58,54,0.25) 28.5%,
		rgba(0, 218,0,0) 30%,
		rgba(0, 0,218,0) 41.5%,
		rgba(0, 0,218,0.25) 43%,
		rgba(0,218,0,0.25) 44.5%,
		rgba(251,218,63,0.18) 46%,
		rgba(189,58,54,0.25) 47.5%,
		rgba(189,58,54,0) 50%
		), 
	/* green circle with blue center -blue*/
	radial-gradient(circle,
		rgba(0,0,218,0.25) 0%,
		rgba(0,218,0,0.10) 24.0%,
		rgba(0,218,0,0) 28.0%,
		rgba(0,0,0,0.35) 28.4%,
		rgba(0,0,0,0) 36.0%, 
		rgba(0,0,0,0) 40.0%
		),  
	/* single red on top of dim -sr*/
	radial-gradient(circle,
		rgba(189,58,54,0.15) 0%,
		rgba(189,58,54,0.15) 36.0%,
		rgba(189,58,54,0.0) 36.4%, 
		rgba(0,0,0,0) 40.0%
		),
	/* barely visible red inner and outer cirle -dim*/
	radial-gradient(circle,
		rgba(189,58,54,0.25) 0%, 
		rgba(189,58,54,0.25) 10%,
		rgba(189,58,54,0.1) 12%,
		rgba(189,58,54,0.2) 36%,
		rgba(189,58,54,0.0) 36.4%,
		rgba(0,0,0,0) 40.0%)/**/;
		
		
	-moz-background-size: /* ff3.6 */
		200px 200px;
	background-size: 
		200px 200px;
	background-position:
	/*-100px -400px,
	-100px -400px,*/
		75px 75px,
		85px 85px,
		94px 95px,
		117px 137px,
		58px 60px, /* RedB*/
		40px 40px, /* Flag*/
		125px 150px, /* blue*/
		87px 197px, /*sr */
		90px 100px;/* dim*/
}

.weird {

background-image:  
	-webkit-gradient(radial, 25 25, 0, 25 25, 20, 
		color-stop(0, rgba(255, 255, 255, 0)), 
		color-stop(0.23, rgba(0, 218, 0, 0.1)), 
		color-stop(0.54, rgba(0, 218, 0, 0.18)), 
		color-stop(0.54, rgba(189, 58, 54, 0.25)), 
		color-stop(0.57, rgba(189, 58, 54, 0.25)), 
		color-stop(0.60, rgba(0, 218, 0, 0)), 
		color-stop(0.83, rgba(0, 0, 218, 0)), 
		color-stop(0.86, rgba(0, 0, 218, 0.25)), 
		color-stop(0.89, rgba(0, 218, 0, 0.25)), 
		color-stop(0.92, rgba(251, 218, 63, 0.18)), 
		color-stop(0.95, rgba(189, 58, 54, 0.25))), 
	-webkit-gradient(radial,  45 45, 0, 45 45, 45, 
		from(rgba(0, 0, 218, 0.25)), 
		color-stop(0.6, rgba(0, 218, 0, 0.1)), 
		color-stop(0.7, rgba(0, 218, 0, 0)), 
		color-stop(0.71, rgba(0, 0, 0, 0.35)), 
		color-stop(0.9, rgba(0,0,0,0))), 
	-webkit-gradient(radial, 41 41, 4, 30 30, 30, 
		color-stop(0.9, rgba(189, 58, 54, 0.15)), 
		color-stop(0.91, rgba(189, 58, 54, 0))),
	-webkit-gradient(radial, 50 50, 10, 50 50, 11, 
		color-stop(0.25, rgba(189, 58, 54, 0.25)), 
		color-stop(0.26, rgba(189, 58, 54, 0.1)), 
		color-stop(0.90, rgba(189, 58, 54, 0.2)), 
		color-stop(0.91, rgba(189, 58, 54, 0)))/**/;


background-image:  -moz-radial-gradient(circle , rgba(255, 255, 255, 0) 0%, rgba(0, 218, 0, 0.1) 23%, rgba(0, 218, 0, 0.18) 54%, rgba(189, 58, 54, 0.25) 54%, rgba(189, 58, 54, 0.25) 57%, rgba(0, 218, 0, 0) 60%, rgba(0, 0, 218, 0) 83%, rgba(0, 0, 218, 0.25) 86%, rgba(0, 218, 0, 0.25) 89%, rgba(251, 218, 63, 0.18) 92%, rgba(189, 58, 54, 0.25) 95%, rgba(189, 58, 54, 0) 100%), -moz-radial-gradient(circle , rgba(0, 0, 218, 0.25) 0%, rgba(0, 218, 0, 0.1) 60%, rgba(0, 218, 0, 0) 70%, rgba(0, 0, 0, 0.35) 71%, transparent 90%, transparent 100%), -moz-radial-gradient(circle , rgba(189, 58, 54, 0.15) 0%, rgba(189, 58, 54, 0.15) 90%, rgba(189, 58, 54, 0) 91%, transparent 100%), -moz-radial-gradient(circle , rgba(189, 58, 54, 0.25) 0%, rgba(189, 58, 54, 0.25) 25%, rgba(189, 58, 54, 0.1) 26%, rgba(189, 58, 54, 0.2) 90%, rgba(189, 58, 54, 0) 91%, transparent 100%)	;
background-image:  -webkit-radial-gradient(circle , rgba(255, 255, 255, 0) 0%, rgba(0, 218, 0, 0.1) 23%, rgba(0, 218, 0, 0.18) 54%, rgba(189, 58, 54, 0.25) 54%, rgba(189, 58, 54, 0.25) 57%, rgba(0, 218, 0, 0) 60%, rgba(0, 0, 218, 0) 83%, rgba(0, 0, 218, 0.25) 86%, rgba(0, 218, 0, 0.25) 89%, rgba(251, 218, 63, 0.18) 92%, rgba(189, 58, 54, 0.25) 95%, rgba(189, 58, 54, 0) 100%), -webkit-radial-gradient(circle , rgba(0, 0, 218, 0.25) 0%, rgba(0, 218, 0, 0.1) 60%, rgba(0, 218, 0, 0) 70%, rgba(0, 0, 0, 0.35) 71%, transparent 90%, transparent 100%), -webkit-radial-gradient(circle , rgba(189, 58, 54, 0.15) 0%, rgba(189, 58, 54, 0.15) 90%, rgba(189, 58, 54, 0) 91%, transparent 100%), -webkit-radial-gradient(circle , rgba(189, 58, 54, 0.25) 0%, rgba(189, 58, 54, 0.25) 25%, rgba(189, 58, 54, 0.1) 26%, rgba(189, 58, 54, 0.2) 90%, rgba(189, 58, 54, 0) 91%, transparent 100%)	;


background-image:  -ms-radial-gradient(circle , rgba(255, 255, 255, 0) 0%, rgba(0, 218, 0, 0.1) 23%, rgba(0, 218, 0, 0.18) 54%, rgba(189, 58, 54, 0.25) 54%, rgba(189, 58, 54, 0.25) 57%, rgba(0, 218, 0, 0) 60%, rgba(0, 0, 218, 0) 83%, rgba(0, 0, 218, 0.25) 86%, rgba(0, 218, 0, 0.25) 89%, rgba(251, 218, 63, 0.18) 92%, rgba(189, 58, 54, 0.25) 95%, rgba(189, 58, 54, 0) 100%), -ms-radial-gradient(circle , rgba(0, 0, 218, 0.25) 0%, rgba(0, 218, 0, 0.1) 60%, rgba(0, 218, 0, 0) 70%, rgba(0, 0, 0, 0.35) 71%, transparent 90%, transparent 100%), -ms-radial-gradient(circle , rgba(189, 58, 54, 0.15) 0%, rgba(189, 58, 54, 0.15) 90%, rgba(189, 58, 54, 0) 91%, transparent 100%), -ms-radial-gradient(circle , rgba(189, 58, 54, 0.25) 0%, rgba(189, 58, 54, 0.25) 25%, rgba(189, 58, 54, 0.1) 26%, rgba(189, 58, 54, 0.2) 90%, rgba(189, 58, 54, 0) 91%, transparent 100%)	;


background-image:  radial-gradient(circle , rgba(255, 255, 255, 0) 0%, rgba(0, 218, 0, 0.1) 23%, rgba(0, 218, 0, 0.18) 54%, rgba(189, 58, 54, 0.25) 54%, rgba(189, 58, 54, 0.25) 57%, rgba(0, 218, 0, 0) 60%, rgba(0, 0, 218, 0) 83%, rgba(0, 0, 218, 0.25) 86%, rgba(0, 218, 0, 0.25) 89%, rgba(251, 218, 63, 0.18) 92%, rgba(189, 58, 54, 0.25) 95%, rgba(189, 58, 54, 0) 100%), radial-gradient(circle , rgba(0, 0, 218, 0.25) 0%, rgba(0, 218, 0, 0.1) 60%, rgba(0, 218, 0, 0) 70%, rgba(0, 0, 0, 0.35) 71%, transparent 90%, transparent 100%), radial-gradient(circle , rgba(189, 58, 54, 0.15) 0%, rgba(189, 58, 54, 0.15) 90%, rgba(189, 58, 54, 0) 91%, transparent 100%), radial-gradient(circle , rgba(189, 58, 54, 0.25) 0%, rgba(189, 58, 54, 0.25) 25%, rgba(189, 58, 54, 0.1) 26%, rgba(189, 58, 54, 0.2) 90%, rgba(189, 58, 54, 0) 91%, transparent 100%)	;

}
