.candyDots {
	background-image:
		-webkit-gradient(radial, 16 16,0, 16 16, 12,
			color-stop(0.7, rgba(255,255,255,0)),
			color-stop(0.8, #ffffff)),
		-webkit-gradient(radial, 16 16,0, 16 16, 12,
			color-stop(0.5, rgba(0,0,220,0)),
			color-stop(0.7, rgba(0,0,220, 0.4))),
		-webkit-gradient(linear, 0 10%, 0% 100%, 
			color-stop(.2,#108fd2),
			color-stop(.3,#f0ef07),
			color-stop(.65,#f0ef07),
			color-stop(.72,#ff4591));
		
		
		background-image: 
	  -webkit-radial-gradient(15px 15px, circle closest-side,
			rgba(255,255,255,0) 60%,
			#ffffff 61%),
		-webkit-radial-gradient(15px 15px, circle closest-side,
			rgba(0,0,220,0) 55%,
			rgba(0,0,220,0.4) 56%),
	  	-webkit-linear-gradient(90deg,
			#108fd2 20%,
			#f0ef07 30%,
			#f0ef07 65%,
			#ff4591 72%);
		background-image: 
	  -moz-radial-gradient(15px 15px, circle closest-side,
			rgba(255,255,255,0) 60%,
			#ffffff 61%),
		-moz-radial-gradient(15px 15px, circle closest-side,
			rgba(0,0,220,0) 55%,
			rgba(0,0,220,0.4) 56%),
	  	-moz-linear-gradient(90deg,
			#108fd2 20%,
			#f0ef07 30%,
			#f0ef07 65%,
			#ff4591 72%);
		background-image: 
	  -ms-radial-gradient(circle closest-side,
			rgba(255,255,255,0) 60%,
			#ffffff 61%),
		-ms-radial-gradient(circle closest-side,
			rgba(0,0,220,0) 55%,
			rgba(0,0,220,0.4) 56%),
	  	-ms-linear-gradient(90deg,
			#108fd2 20%,
			#f0ef07 30%,
			#f0ef07 65%,
			#ff4591 72%);
		background-image: 
	  -o-radial-gradient(circle closest-side,
			rgba(255,255,255,0) 60%,
			#ffffff 61%),
		-o-radial-gradient(circle closest-side,
			rgba(0,0,220,0) 55%,
			rgba(0,0,220,0.4) 56%),
	  	-o-linear-gradient(90deg,
			#108fd2 20%,
			#f0ef07 30%,
			#f0ef07 65%,
			#ff4591 72%);
		background-image: 
	  	radial-gradient(circle closest-side, 
			rgba(255,255,255,0) 60%,
			#ffffff 61%),
		radial-gradient(circle closest-side, 
			rgba(0,0,220,0) 55%,
			rgba(0,0,220,0.4) 56%),
	  	linear-gradient(90deg,
			#108fd2 20%,
			#f0ef07 30%,
			#f0ef07 65%,
			#ff4591 72%);
		
		-webkit-background-size: 40px 40px, 40px 40px,100% 100%; /* safari 4 */
		-moz-background-size: 40px 40px, 40px 40px,100% 100%; /* FF 3.6 */
		background-size: 40px 40px, 40px 40px,100% 100%;
		background-position: 0 0, 0 3px, 0 0;
		-moz-border-radius: 0;
		border-radius: 0;
		-webkit-transform: skew(2deg,3deg);
		-moz-transform: skew(2deg,3deg);
		-ms-transform: skew(2deg,3deg);
		-o-transform: skew(2deg,3deg);
		transform: skew(2deg,3deg);
		width:250px;
		height: 300px;
		margin-right: 50px;
		margin-left: 40px;
}
.candyDots p {
	
		-webkit-transform: skew(-2deg,-3deg) translateX(-20px);
		-moz-transform: skew(-2deg,-3deg) translateX(-20px);
		-ms-transform: skew(-2deg,-3deg) translateX(-20px);
		-o-transform: skew(-2deg,-3deg) translateX(-20px);
		transform: skew(-2deg,-3deg) translateX(-20px);
}

.apple{
	background-color:#ffffff;
	
	background-image:
	-webkit-gradient(radial,48 100, 0, 48 96, 110,
		color-stop(0.05, #8f0c1f), 
		color-stop(0.14, #600409),
		color-stop(0.16, rgba(0, 0, 0,0))),
  	-webkit-gradient(radial,78 100, 0, 78 96, 110, 
		color-stop(0.05, #8f0c1f), 
		color-stop(0.14, #600409),
		color-stop(0.16, rgba(0, 0, 0,0))),
	-webkit-gradient(radial,63 0, 0, 63 0, 90,
		color-stop(0.20, #8f0c1f), 
		color-stop(0.35, #600409),
		color-stop(0.36, rgba(0, 0, 0,0))),
  	-webkit-gradient(radial,0 0, 0, 0 0, 0,
		color-stop(0.20, #8f0c1f), 
		color-stop(0.35, #600409),
		color-stop(0.36, rgba(0, 0, 0,0))),
		/* stem */
	-webkit-gradient(radial, 180 120, 90, 180 120, 95,
		from(transparent),
		color-stop(0.01, brown),
		color-stop(0.5, brown),
		color-stop(0.6, transparent),
		to(transparent)),
		/* leaf hider */
	-webkit-gradient(radial, 20 33, 0, 20 33, 18,
		from(transparent),
		color-stop(0.5, rgba(255,255,255,0)),
		color-stop(0.51,  rgba(255,255,255,1))),
		/* leaf */
	-webkit-gradient(radial, 20 33, 0, 20 33, 15,
		from(#060),
		color-stop(0.70, #060),
		color-stop(0.71, transparent),
		to(transparent));
		
	background-image:
	  -webkit-radial-gradient(85% 96% , #8F0C1F 5%, #600409 15%, transparent 17%, transparent 100%), 
	  -webkit-radial-gradient(15% 96% , #8F0C1F 5%, #600409 15%, transparent 17%, transparent 100%), 
	  -webkit-radial-gradient(0pt 0 , farthest-side, #8F0C1F 22%, #600409 36%, transparent 36%, transparent 100%),
	  -webkit-radial-gradient(103% 0 , farthest-side, #8F0C1F 22%, #600409 36%, transparent 36%, transparent 100%), 
	  -webkit-radial-gradient(-5% 90% , transparent 23%, brown 24%, brown 25%, transparent 26%, transparent 100%), 
	  -webkit-radial-gradient(35% 20% , circle closest-side, transparent 0%, transparent 70%, white 71%, white 100%), 
	  -webkit-radial-gradient(35% 20% , circle closest-side, #006600 0%, #006600 70%, transparent 71%, transparent 100%);
background-image:
	  -moz-radial-gradient(85% 96% , #8F0C1F 5%, #600409 15%, transparent 17%, transparent 100%), 
	  -moz-radial-gradient(15% 96% , #8F0C1F 5%, #600409 15%, transparent 17%, transparent 100%), 
	  -moz-radial-gradient(0pt 0 , farthest-side, #8F0C1F 22%, #600409 36%, transparent 36%, transparent 100%),
	  -moz-radial-gradient(103% 0 , farthest-side, #8F0C1F 22%, #600409 36%, transparent 36%, transparent 100%), 
	  -moz-radial-gradient(-5% 90% , transparent 23%, brown 24%, brown 25%, transparent 26%, transparent 100%), 
	  -moz-radial-gradient(35% 20% , circle closest-side, transparent 0%, transparent 70%, white 71%, white 100%), 
	  -moz-radial-gradient(35% 20% , circle closest-side, #006600 0%, #006600 70%, transparent 71%, transparent 100%);
background-image:
	  -ms-radial-gradient(85% 96% , #8F0C1F 5%, #600409 15%, transparent 17%, transparent 100%), 
	  -ms-radial-gradient(15% 96% , #8F0C1F 5%, #600409 15%, transparent 17%, transparent 100%), 
	  -ms-radial-gradient(0pt 0 , farthest-side, #8F0C1F 22%, #600409 36%, transparent 36%, transparent 100%),
	  -ms-radial-gradient(103% 0 , farthest-side, #8F0C1F 22%, #600409 36%, transparent 36%, transparent 100%), 
	  -ms-radial-gradient(-5% 90% , transparent 23%, brown 24%, brown 25%, transparent 26%, transparent 100%), 
	  -ms-radial-gradient(35% 20% , circle closest-side, transparent 0%, transparent 70%, white 71%, white 100%), 
	  -ms-radial-gradient(35% 20% , circle closest-side, #006600 0%, #006600 70%, transparent 71%, transparent 100%);
background-image:
	  -o-radial-gradient(85% 96% , #8F0C1F 5%, #600409 15%, transparent 17%, transparent 100%), 
	  -o-radial-gradient(15% 96% , #8F0C1F 5%, #600409 15%, transparent 17%, transparent 100%), 
	  -o-radial-gradient(0pt 0 , farthest-side, #8F0C1F 22%, #600409 36%, transparent 36%, transparent 100%),
	  -o-radial-gradient(103% 0 , farthest-side, #8F0C1F 22%, #600409 36%, transparent 36%, transparent 100%), 
	  -o-radial-gradient(-5% 90% , transparent 23%, brown 24%, brown 25%, transparent 26%, transparent 100%), 
	  -o-radial-gradient(35% 20% , circle closest-side, transparent 0%, transparent 70%, white 71%, white 100%), 
	  -o-radial-gradient(35% 20% , circle closest-side, #006600 0%, #006600 70%, transparent 71%, transparent 100%);
background-image:
	  radial-gradient(85% 96% , #8F0C1F 5%, #600409 15%, transparent 17%, transparent 100%), 
	  radial-gradient(15% 96% , #8F0C1F 5%, #600409 15%, transparent 17%, transparent 100%), 
	  radial-gradient(0pt 0 , farthest-side, #8F0C1F 22%, #600409 36%, transparent 36%, transparent 100%),
	  radial-gradient(103% 0 , farthest-side, #8F0C1F 22%, #600409 36%, transparent 36%, transparent 100%), 
	  radial-gradient(-5% 90% , transparent 23%, brown 24%, brown 25%, transparent 26%, transparent 100%), 
	  radial-gradient(35% 20% , circle closest-side, transparent 0%, transparent 70%, white 71%, white 100%), 
	  -moz-radial-gradient(35% 20% , circle closest-side, #006600 0%, #006600 70%, transparent 71%, transparent 100%);

	background-position: /**/ -50px -50px, -50px 50px, -50px 50px, -50px -50px, 20px 50px, -8px -10px, -8px 0px;
	
	/*ff 3.6*/-moz-background-size: 100px 100px;
	background-size: 100px 100px;
}

