.bradybunch {	
	background-image: 
		-webkit-radial-gradient(circle closest-side, 
			transparent 0%, 
			transparent 75%,
			rgba(255, 255, 255, 0.3) 76%,
			rgba(255, 255, 255, 0.3) 85%,
			rgba(255, 255, 255, 0.9) 86%,
			rgba(255, 255, 255, 0.9) 94%,
			#FFFFFF 95%,
			#FFFFFF 103%,
			rgba(255, 255, 255, 0.5) 104%, 
			rgba(255, 255, 255, 0.5) 112%,
			rgba(0, 0, 0, 0.2) 113%,
			rgba(0, 0, 0, 0.2) 121%,
			#FFFFFF 122%,
			#FFFFFF 130%,
			rgba(255, 255, 255, 0.4) 131%,
			rgba(255, 255, 255, 0.4) 140%),
		-webkit-radial-gradient(circle closest-side, 
			transparent 0%, 
			transparent 75%,
			rgba(255, 255, 255, 0.3) 76%,
			rgba(255, 255, 255, 0.3) 85%,
			rgba(255, 255, 255, 0.9) 86%,
			rgba(255, 255, 255, 0.9) 94%,
			#FFFFFF 95%,
			#FFFFFF 103%,
			rgba(255, 255, 255, 0.5) 104%, 
			rgba(255, 255, 255, 0.5) 112%,
			rgba(0, 0, 0, 0.2) 113%,
			rgba(0, 0, 0, 0.2) 121%,
			#FFFFFF 122%,
			#FFFFFF 130%,
			rgba(255, 255, 255, 0.4) 131%,
			rgba(255, 255, 255, 0.4) 140%);	
	background-image: 
		-moz-radial-gradient(circle closest-side, 
			transparent 0%, 
			transparent 75%,
			rgba(255, 255, 255, 0.3) 76%,
			rgba(255, 255, 255, 0.3) 85%,
			rgba(255, 255, 255, 0.9) 86%,
			rgba(255, 255, 255, 0.9) 94%,
			#FFFFFF 95%,
			#FFFFFF 103%,
			rgba(255, 255, 255, 0.5) 104%, 
			rgba(255, 255, 255, 0.5) 112%,
			rgba(0, 0, 0, 0.2) 113%,
			rgba(0, 0, 0, 0.2) 121%,
			#FFFFFF 122%,
			#FFFFFF 130%,
			rgba(255, 255, 255, 0.4) 131%,
			rgba(255, 255, 255, 0.4) 140%),
		-moz-radial-gradient(circle closest-side, 
			transparent 0%, 
			transparent 75%,
			rgba(255, 255, 255, 0.3) 76%,
			rgba(255, 255, 255, 0.3) 85%,
			rgba(255, 255, 255, 0.9) 86%,
			rgba(255, 255, 255, 0.9) 94%,
			#FFFFFF 95%,
			#FFFFFF 103%,
			rgba(255, 255, 255, 0.5) 104%, 
			rgba(255, 255, 255, 0.5) 112%,
			rgba(0, 0, 0, 0.2) 113%,
			rgba(0, 0, 0, 0.2) 121%,
			#FFFFFF 122%,
			#FFFFFF 130%,
			rgba(255, 255, 255, 0.4) 131%,
			rgba(255, 255, 255, 0.4) 140%);	
	background-image: 
		-ms-radial-gradient(circle closest-side, 
			transparent 0%, 
			transparent 75%,
			rgba(255, 255, 255, 0.3) 76%,
			rgba(255, 255, 255, 0.3) 85%,
			rgba(255, 255, 255, 0.9) 86%,
			rgba(255, 255, 255, 0.9) 94%,
			#FFFFFF 95%,
			#FFFFFF 103%,
			rgba(255, 255, 255, 0.5) 104%, 
			rgba(255, 255, 255, 0.5) 112%,
			rgba(0, 0, 0, 0.2) 113%,
			rgba(0, 0, 0, 0.2) 121%,
			#FFFFFF 122%,
			#FFFFFF 130%,
			rgba(255, 255, 255, 0.4) 131%,
			rgba(255, 255, 255, 0.4) 140%),
		-ms-radial-gradient(circle closest-side, 
			transparent 0%, 
			transparent 75%,
			rgba(255, 255, 255, 0.3) 76%,
			rgba(255, 255, 255, 0.3) 85%,
			rgba(255, 255, 255, 0.9) 86%,
			rgba(255, 255, 255, 0.9) 94%,
			#FFFFFF 95%,
			#FFFFFF 103%,
			rgba(255, 255, 255, 0.5) 104%, 
			rgba(255, 255, 255, 0.5) 112%,
			rgba(0, 0, 0, 0.2) 113%,
			rgba(0, 0, 0, 0.2) 121%,
			#FFFFFF 122%,
			#FFFFFF 130%,
			rgba(255, 255, 255, 0.4) 131%,
			rgba(255, 255, 255, 0.4) 140%);	
	background-image: 
		-o-radial-gradient(circle closest-side, 
			transparent 0%, 
			transparent 75%,
			rgba(255, 255, 255, 0.3) 76%,
			rgba(255, 255, 255, 0.3) 85%,
			rgba(255, 255, 255, 0.9) 86%,
			rgba(255, 255, 255, 0.9) 94%,
			#FFFFFF 95%,
			#FFFFFF 103%,
			rgba(255, 255, 255, 0.5) 104%, 
			rgba(255, 255, 255, 0.5) 112%,
			rgba(0, 0, 0, 0.2) 113%,
			rgba(0, 0, 0, 0.2) 121%,
			#FFFFFF 122%,
			#FFFFFF 130%,
			rgba(255, 255, 255, 0.4) 131%,
			rgba(255, 255, 255, 0.4) 140%),
		-o-radial-gradient(circle closest-side, 
			transparent 0%, 
			transparent 75%,
			rgba(255, 255, 255, 0.3) 76%,
			rgba(255, 255, 255, 0.3) 85%,
			rgba(255, 255, 255, 0.9) 86%,
			rgba(255, 255, 255, 0.9) 94%,
			#FFFFFF 95%,
			#FFFFFF 103%,
			rgba(255, 255, 255, 0.5) 104%, 
			rgba(255, 255, 255, 0.5) 112%,
			rgba(0, 0, 0, 0.2) 113%,
			rgba(0, 0, 0, 0.2) 121%,
			#FFFFFF 122%,
			#FFFFFF 130%,
			rgba(255, 255, 255, 0.4) 131%,
			rgba(255, 255, 255, 0.4) 140%);	
	background-image: 
		radial-gradient(circle closest-side, 
			transparent 0%, 
			transparent 75%,
			rgba(255, 255, 255, 0.3) 76%,
			rgba(255, 255, 255, 0.3) 85%,
			rgba(255, 255, 255, 0.9) 86%,
			rgba(255, 255, 255, 0.9) 94%,
			#FFFFFF 95%,
			#FFFFFF 103%,
			rgba(255, 255, 255, 0.5) 104%, 
			rgba(255, 255, 255, 0.5) 112%,
			rgba(0, 0, 0, 0.2) 113%,
			rgba(0, 0, 0, 0.2) 121%,
			#FFFFFF 122%,
			#FFFFFF 130%,
			rgba(255, 255, 255, 0.4) 131%,
			rgba(255, 255, 255, 0.4) 140%),
		radial-gradient(circle closest-side, 
			transparent 0%, 
			transparent 75%,
			rgba(255, 255, 255, 0.3) 76%,
			rgba(255, 255, 255, 0.3) 85%,
			rgba(255, 255, 255, 0.9) 86%,
			rgba(255, 255, 255, 0.9) 94%,
			#FFFFFF 95%,
			#FFFFFF 103%,
			rgba(255, 255, 255, 0.5) 104%, 
			rgba(255, 255, 255, 0.5) 112%,
			rgba(0, 0, 0, 0.2) 113%,
			rgba(0, 0, 0, 0.2) 121%,
			#FFFFFF 122%,
			#FFFFFF 130%,
			rgba(255, 255, 255, 0.4) 131%,
			rgba(255, 255, 255, 0.4) 140%);
}
.vw_1{
	-moz-background-size: 80px 80px;
	background-size: 80px 80px;
	background-color: #384F89;
	background-position: 0 0, 40px 40px;
}
.vw_2{
	-moz-background-size: 100px 100px;
	background-size: 100px 100px;
	background-color: #4F8938;
	background-position: 0 0, 50px 50px;
}
.vw_3{
	-moz-background-size: 120px 120px;
	background-size: 120px 120px;
	background-color: #89384F;
	background-position: 0 0, 60px 60px;
}